# This is the git configuration file for Jonas Gorauskas
# To change user name, email address, and signing key, 
# please use the following commands:
#   git config --global user.name "Your Name"
#   git config --global user.email "your.email@example.com"
#   git config --global user.signingkey "your.signing.key"

[core]
    autocrlf = false
    safecrlf = false
    pager = most

[user]
    useConfigOnly = true
    email = jgorauskas@gmail.com
    name = Jonas Gorauskas
    signingkey = D154EF40E89AD6BD

###############################################################################

[alias]
    a = add
    b = branch
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    cl = clone
    cm = commit -m
    cma = commit -am
    co = checkout
    cob = checkout -b
    count = !git shortlog -sn
    cp = cherry-pick
    cfs = config commit.gpgsign true
    d = diff
    diff = diff --word-diff
    dangling = !git fsck 2> /dev/null | grep '^dangling commit' | awk '{print $3}' | git log --stdin --no-walk
    dc = diff --cached
    ds = diff --staged
    la = !git config -l | grep alias | cut -c 7-
    ldl = log --color --graph --pretty=format:'%Cred%h %ad%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%ae>%Creset' --abbrev-commit --decorate
    lds = log --color --graph --pretty=format:'%Cred%h %ad%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%ae>%Creset' --abbrev-commit --decorate --date=short
    ll = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --numstat
    ls = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate
    ltg = describe --tags --abbrev=0
    pl = pull
    ps = push
    r = remote
    ra = remote add
    rr = remote rm
    st = status -sbu
    todo = !git ls-files | xargs grep --color=auto -onE '(TODO|FIXME):.*$'
    undo = reset --hard HEAD~1
    unpushed = log --branches --not --remotes --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    visual = !gitk

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[commit]
    gpgsign = true

[diff]
    tool = meld

[fetch]
	prune = true

[github]
    user = gorauskas

[gpg]
    program = /usr/bin/gpg2
    format = openpgp

[init]
    defaultBranch = main

[log]
    date = iso
    abbrevCommit = true

[merge]
    summary = true
    tool = meld

[pull]
    rebase = true

[push]
    default = matching

[safe]
    directory = /home/jonasg/Projects

[url "git@github.com:gorauskas/"]
    insteadOf = jgg:
