! X Resources definitions
! Created: 2001-11-10 20:04:17 by Jonas Gorauskas
! Modified: 2014-03-16 20:30:13
!
! Notes:
!  to test, run the following to source the file:
!
!    xrdb < ~/.Xresources
!
!  ... and then start XTerm or URxvt to see the changes

!! URxvt definitions
URxvt*termName: rxvt
URxvt*transparent: false
URxvt*inheritPixmap: false
URxvt*imLocale: en_US.UTF-8
URxvt*scrollBar: true
URxvt*scrollBar_right: false
URxvt*scrollstyle: plain
URxvt*cursorBlink: false
URxvt*geometry: 160x50
URxvt*letterSpace: 0

URxvt.foreground: #eeeeee
URxvt*background: #111111

URxvt.saveLines:32767

URxvt*font: xft:DejaVu Sans Mono:pixelsize=13
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=13


URxvt.perl-ext-common: default,matcher,tabbed

! clickable URLs
URxvt.urlLauncher: /usr/bin/google-chrome
URxvt.matcher.button: 1
URxvt*colorUL: #006699
URxvt*underlineColor: #0099CC

! tabbed interface
URxvt.tabbed.tabbar-fg: 6
URxvt.tabbed.tabbar-bg: 8
URxvt.tabbed.tab-fg: 14
URxvt.tabbed.tab-bg: 8

URxvt*color0: #111111
URxvt*color8: #333333

URxvt*color1: #CC3333
URxvt*color9: #FFCCCC

URxvt*color2: #99FF99
URxvt*color10: #CCCCFF

URxvt*color3: #CCAA00
URxvt*color11: #FFFF99

URxvt*color4: #99CCFF
URxvt*color12: #99AABB

URxvt*color5: #CC8833
URxvt*color13: #EEDD99

URxvt*color6: #BBCCDD
URxvt*color14: #99CCFF

URxvt*color7: #FFFFFF
URxvt*color15: #EEEEEE



!! UXTerm definitions
UXTerm*vt100*geometry: 160x60
UXTerm*background: #3f3f3f
UXTerm*foreground: #dcdccc
UXTerm*pointerColor: firebrick
UXTerm*pointerColorBackground: black
UXTerm*cursorColor: navy
UXTerm*internalBorder: 3
UXTerm*loginShell: true
UXTerm*scrollBar: false
UXTerm*scrollKey: true
UXTerm*saveLines: 4096
UXTerm*multiClickTime: 250
UXTerm*faceName: DejaVu Sans Mono
UXTerm*faceSize: 9

!black
uxterm*color0:         #353535
uxterm*color8:         #666666
!red
uxterm*color1:         #AE4747
uxterm*color9:         #EE6363
!green
uxterm*color2:         #556B2F
uxterm*color10:        #9ACD32
!brown/yellow
uxterm*color3:         #DAA520
uxterm*color11:        #FFC125
!blue
uxterm*color4:         #6F99B4
uxterm*color12:        #7C96B0
!magenta
uxterm*color5:         #8B7B8B
uxterm*color13:        #D8BFD8
!cyan
uxterm*color6:         #A7A15E
uxterm*color14:        #F0E68C
!white
uxterm*color7:         #DDDDDD
uxterm*color15:        #FFFFFF
